<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--        <context:component-scan base-package="demo"></context:component-scan>-->
<!--        using the below bean tag only we will define the bean in the xml for the spring to recognise that -->
<!--        Every bean class will have id that we use to identify them-->
        <bean id="leader" class="demo.Leader">
<!--                Property is assigned-->
                <property name="qualification" value="Experience"></property>
<!--                we can also inject an entire Object into another object
                    <property id="assistant" ref="assistant"></property>-->
        </bean>
        <bean id="assistant" class="demo.Assistant">
        <constructor-arg value="Entry Level"></constructor-arg>
        </bean>
</beans>